/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Utilities */
.my-container {
    @apply max-w-6xl w-full mx-auto px-6 sm:px-8 lg:px-10;
}

/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* Hide the scrollbar for modern browsers */
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

@keyframes zoomInRight {
    0% {
        transform: scale(0) translateX(100%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}
.scroll-to-top-animate {
    animation: zoomInRight 0.6s ease-in-out;
}
